:root{
    --font-family: 'Nico Moji';
    --font-family: 'Kablammo';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background: white;

}


.container{
    width: 100vw;
    height: 100vh;
    justify-content: baseline;
    align-items: center;
    padding: 0 8%;
    position: absolute;
    background-image: url('./gif.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.content{
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.content p{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}
.content h1{
    font-size: 38px;
    font-weight: 600;
    color: #000000;
}
.content span{
    color: #ff3753;
}

.button{
    background: transparent;
    outline: none;
    border: 2px solid #9fd2a1;
    padding: 12px 25px;
    color: #000000;
    margin-top: 1rem;
    cursor: progress;
    text-decoration: none;
}
.button:hover{
    background-color: #ff3753;
    transition: 0.8s all ease-in-out;
}
.launch-time {
    display: flex;
}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 22px;
    margin-right: -14px;
    color: #000000;
}
.launch-time div span{
    font-size: 15px;
    font-weight: 600;
    color: #ff3753; 
}
.rocket{
    width: 200px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
    color: #ff3753;
}
p{
    padding: 2px 25px;
    margin-top: 18px;
}

@keyframes rocket{

    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 480px) {
    body {
       font-size: 22px;
    }
  }

@media screen and (max-width: 480px) {
    .container .content p{
    font-size: 18px;
    float: start;

   }
   .container .content h1{
    font-size: 16px;
    float: start;

   }
   .launch-time div p{
    font-size: 9px;

   }
}

@media (min-width: 576px) { 
    .container .content p{
        font-size: 20px;
       }
       .container .content h1{
        font-size: 22px;
        float: start;

       }
       .launch-time div p{
        font-size: 10px;

       }
 }

@media (min-width: 768px) { 
    .container .content p{
        font-size: 20px;
        float: start;
       }
       .container .content h1{
        font-size: 26px;
        float: start;
       }
       .launch-time div p{
        font-size: 13px;
       }
 }

@media (min-width: 992px) {
    .container .content p{
        font-size: 22px;
        float: start;

       }
       .container .content h1{
        font-size: 28px;
        float: start;
   
       }
       .launch-time div p{
        font-size: 15px;
   
       }
 }

@media (min-width: 1200px) {
    .container .content p{
        font-size: 30px;
        float: start;
       }
       .container .content h1{
        font-size: 38px;
        float: start;
       }
       .launch-time div p{
        font-size: 20px;
       }
 }

@media (min-width: 1400px) {
    .container .content p{
        font-size: 38px;
        float: start;
       }
       .container .content h1{
        font-size: 42px;
        float: start;
       }
       .launch-time div p{
        font-size: 22px;
       } 
 }

